<!DOCTYPE html>
<html>
<head>
   <title>Contact Form</title>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="contactForm">
   <div class="row" ng-controller="MainCtrl">
      <div class="col-md-6 col-md-offset-3">
         <div class="page-header"><h2>Contact Form</h2></div>
         <form ng-submit="addContact()">
            <h3>Add new entry</h3>
            <div class="form-group">
               <input type="text" class="form-control" placeholder="name" ng-model="name"/>
            </div>
            <div class="form-group">
               <input type="text" class="form-control" placeholder="email" ng-model="email"/>
            </div>
            <div class="form-group">
               <input type="text" class="form-control" placeholder="message" ng-model="message"/>
            </div>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
         </form>
      </div>
   </div>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
   <script src="javascripts/angularApp.js"></script>
</body>
</html>
